h1 {
  text-align: center;
}

.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  width: 50%;
  margin: auto;
  padding: 50px;
  margin-bottom: 80px;
}

.carre-contenu h2 {
  margin-top: 30px;
  text-align: center;
}

.carre-contenu ul {
  margin-top: 80px;
}

.carre-contenu + div {
  text-align: center;
}

.cta {
  margin-bottom: 160px;
}

table {
  color: white;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin: auto;
}

table caption {
  font-size: 1.5em;
  margin-bottom: 80px;
  font-weight: 600;
}

th, td {
  border: 1px solid #a5b4fc;
  padding: 15px;
}

td {
  padding: 80px;
}

@media screen and (max-width: 1000px) {
  table {
    display: none;
  }
}